body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: gray;
}

#game_container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#game_container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

canvas {
    background: black;
}
